<h1>Editer le corsaire</h1>


<%= form_for @corsairs do |f| %>
<div class="form_group">
  <p><label>Nom</label>
<%= f.text_field :first_name, class: 'form-control' %></p>
<p><label>Age</label>
<%= f.text_field :age, class: 'form-control' %></p>

</div>
<div class="form_group">
  <button type="submit" class="btn btn-primary">Modifer le corsaire</button>
</div>
<% end %>
