<h1><%= @corsairs.first_name %></h1>
<p> <%= @corsairs.age %> </p>

<p>   <a href="<%= edit_corsair_path %>" class= "btn btn-primary">Editer le corsaire</a>
<p>
  <a href="<%= corsairs_path %>" class= "btn btn-primary">Revenir aux corsaires</a>
</p>
